/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  line-height: 1.25;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #323232;
  letter-spacing: 0.15em;
  background-color: #f2f2f2; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html * {
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2 {
  font-size: 32px;
  padding-top: 4px;
  padding-bottom: 4px; }

h3 {
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 4px; }

p {
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 4px; }

#app {
  width: 100%; }
.generic-page {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px; }
.crosshatch-container {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0); }
  .crosshatch-container .cross-hatch-bg {
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s; }
  .crosshatch-container .h-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between; }
  .crosshatch-container .h-lines {
    background-color: #e8e8e8;
    width: 100%;
    height: 1px;
    transition-timing-function: ease-in; }
  .crosshatch-container .v-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between; }
  .crosshatch-container .v-lines {
    background-color: #e8e8e8;
    width: 1px;
    height: 0;
    transition-timing-function: ease-in; }
  .crosshatch-container.open {
    transform: scale(1); }
    .crosshatch-container.open .cross-hatch-bg {
      opacity: 0.95; }
.main-menu {
  position: fixed;
  width: 100%; }
  .main-menu .top-bar {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  .main-menu .menu-button {
    position: fixed;
    z-index: 1; }
.progress-meter {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f2f2f2; }
  .progress-meter .gauge {
    background-color: #d3d3d3;
    height: 2px; }
