// COLORS

$black: #323232;
$white: #ffffff;
$light-grey: #d3d3d3;
$light-grey02: #e0e0e0;
$off-white: #f2f2f2;

// SCREEN WIDTHS

$bp-one: 768px;
$bp-two: 1024px;

$min-one: $bp-one + 1px;
$min-two: $bp-two + 1px;

// PADDINGS AND MARGINS

$pd-one: 15px;
$header-height: 40px;