// COLORS

$black: #323232;
$white: #ffffff;
$light-grey: #d3d3d3;
$light-grey02: #e0e0e0;
$off-white: #f2f2f2;
$silver: c0c0c0;
$shift01c: #B17493;
$shift02c: #a600ff;
$shift03c: #CB74A0;
$yellow: #ffff00;

@mixin shift01($opacity) {
	background-color: rgba(255,165,210,$opacity);
}

@mixin shift02($opacity) {
	background-color: rgba(255,165,0,$opacity);
}

@mixin shift03($opacity) {
	background-color: rgba(50,50,50,$opacity);
}
// SCREEN WIDTHS

$bp-one: 768px;
$bp-two: 1024px;

$min-one: $bp-one + 1px;
$min-two: $bp-two + 1px;

// PADDINGS AND MARGINS

$pd-one: 15px;
$pd-one-d: 30px;
$header-height: 40px;

//TRANSITIONS

$gen-dur: 0.3s;
$letter-hover: 6px;

//FONT WEIGHTS

$font-reg: 300;
$font-bold: 400;