@import 'global-variables';

.hero-section {
	@include shift01(0.3);
	// margin-left: -$pd-one;
	// margin-right: -$pd-one;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: repeat, repeat;
	background-image: url("/src/client/public/media/bg_02.png"), url("/src/client/public/media/hero-bg-day.png");
	background-size: 20px, 1000px;
	background-position: 0% 0%, -100px -100px;
	background-attachment: fixed, fixed;
	&.morning {
		@include shift02(0.3);
		animation: colorChangeMor 10s 0s linear infinite;
	}
	&.afternoon {
		animation: colorChangeAft 10s 0s linear infinite;
	}
	&.evening {
		@include shift03(1);
		animation: colorChangeEve 10s 0s linear infinite;
	}
	@media(min-width: $min-one) {
		// margin-left: -$pd-one-d;
		// margin-right: -$pd-one-d;
		background-size: 20px, 2000px;
	}
	.section {
		> div {
			width: 100%;
			@media (min-width: $min-one) {
				width: 48%;
				display: flex;
				align-items: center;
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
	h2, p {
		color: rgba(255,165,210,1);
		mix-blend-mode: difference;
		margin-left: $pd-one;
		margin-right: $pd-one;
		@media(min-width: $min-one) {
			margin-left: $pd-one-d;
			margin-right: $pd-one-d;
		}
	}
}


@keyframes colorChangeMor {
	0% {
		background-color: rgba(255,165,0,0.3);
	}
	25% {
		background-color: rgba(255,165,0,0.3);
	}
	50% {
		background-color: rgba(0,165,0,0.3);
	}
	75% {
		background-color: rgba(255,0,0,0.3);
	}
	100% {
		background-color: rgba(255,165,0,0.3);
	}
}

@keyframes colorChangeEve {
	0% {
		background-color: rgba(50,50,50,0.3);
	}
	25% {
		background-color: rgba(50,50,50,0.3);
	}
	50% {
		background-color: rgba(0,50,50,0.3);
	}
	75% {
		background-color: rgba(50,0,50,0.3);
	}
	100% {
		background-color: rgba(50,50,50,0.3);
	}
}

@keyframes colorChangeAft {
	0% {
		background-color: rgba(255,165,210,0.3);
	}
	25% {
		background-color: rgba(255,165,210,0.3);
	}
	50% {
		background-color: rgba(0,165,210,0.3);
	}
	75% {
		background-color: rgba(255,0,210,0.3);
	}
	100% {
		background-color: rgba(255,165,210,0.3);
	}
}