@import 'global-variables';

.home-page {
	background-repeat: repeat;
	background-image: url("/src/client/public/media/bg_01.png");
	background-attachment: fixed;
	background-position: center center;
}