@import 'global-variables';

.pixi-page {
	padding-top: 41px;
	> h2 {
		padding-left: $pd-one-d;
		padding-right: $pd-one-d;
	}
	h3, p {
		line-height: 1.25;
		padding-left: $pd-one-d;
		padding-right: $pd-one-d;
	}
	> ul {
		padding-left: calc(#{$pd-one-d} * 2);
		padding-right: $pd-one-d;
		padding-bottom: $pd-one-d;
		li {
			list-style-type: circle;
		}
		a {
			font-weight: $font-vbold;
		}
	}
	.desc {
		width: 100%;
		padding-bottom: $pd-one;
		@media (min-width: $bp-one) {
			width:75%;
		}
	}
	.project-container {
		@media (min-width: $bp-one) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			width: 25%;
		}
		span {
			font-weight: $font-bold;
		}
	}
	.project-image {
		img {
			width: 100%;
		}
	}
}
.pixi-section {
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
}