@import 'global-variables';

.playground-area-page {
	padding-top: 41px;
	.desc {
		width: 100%;
		padding-bottom: $pd-one;
		@media (min-width: $bp-one) {
			width:75%;
		}
	}
	.project-container {
		@media (min-width: $bp-one) {
			display: grid;
			grid-template-columns: 25% 25% 25% 25%;
			grid-template-rows: 235px;
			grid-gap: 30px;
		}
		span {
			font-weight: $font-bold;
		}
	}
	.project-content {
		display: flex;
		align-items: stretch;
		a {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			.img-container {
				display: flex;
				min-height: 195px;
				align-items: center;
			}
		}
	}
	.project-image {
		img {
			width: 100%;
		}
	}
	.img-container {
		background-color: $black;
	}
}