@import 'global-variables';

.offside_text {
	overflow: hidden;
	h2 {
		transform: translateX(100%) rotateY(85deg);

	}
	h2.vroom {
	    animation:
	    	vroom 0.7s cubic-bezier(0.19, 1, 0.22, 1),
	    	open 0.2s 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	    transform: translateX(0%) rotateX(0deg);
	}
}


@keyframes vroom {
	0% {
		transform: translateX(100%) rotateX(85deg);
	}
	100% {
		transform: translateX(0%) rotateX(85deg);
	}
}

@keyframes open {
	0% {
		transform: rotateX(85deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}